/* navber */
.searchBarsm {
  position: relative;
  z-index: 30;
}

.searchBarFaildsm {
  position: absolute;
  display: none;
  z-index: 20;
  right: 0;
  bottom: auto;

  margin: auto;
}
.searchBarsm:hover .searchBarFaildsm {
  display: block;
}

.categoryItems:hover {
  border-bottom: 2px solid turquoise;
  border-radius: 15px;
}

.textHover:hover {
  transform: scale(1.2);
}
.seachCardHover:hover {
  transform: scaleX(1.05);
}
.categoryImage:hover {
  background-image: content;
  transform: scale(1.05);
  transition: all 2s;
}
.homeHover:hover {
  transform: scale(1.1);
}
.imageHover:hover {
  transform: scale(1.05);
  transition: all 2s;
}
.safety:hover {
  border-radius: 50%;
  border: 1px solid turquoise;
}
.borderAndRadius:hover {
  border: 1px solid turquoise;
  border-radius: 10px;
}
.categoryBorder {
  border: 1px solid black;
  border-radius: 10px;
}
.categoryBorder:hover {
  border: 1px solid turquoise;
  border-radius: 10px;
  transform: scale(1.05);
  transition: transform 2s;
}
.cartBorder:hover {
  border-bottom: 1px solid turquoise;
  border-radius: 10px;
  transform: scale(1.03);
  transition: transform 2s;
  cursor: pointer;
}
/* zooming image effects */

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
.image-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 480px auto;
}
.image-zoom:hover {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.image-zoom:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.image-details {
  position: relative;
}
/* styles/Home.module.css */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  width: 300px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

/* all service section */
.quick-view {
  position: absolute;
  top: 117px;
  background-color: rgba(64, 224, 208, 0.3);
  display: none;
  width: 230px;
  padding: 2px;
  cursor: pointer;
  border-radius: 3px;
}
.service-container:hover .quick-view {
  display: block;
}
.quick-viewsm {
  position: absolute;
  top: 46px;
  background-color: rgba(64, 224, 208, 0.4);
  color: white;
  cursor: pointer;
  display: none;
  width: 100px;
  padding: 2px;
  border-radius: 3px;
  margin-left: 2px;
}
.service-container:hover .quick-viewsm {
  display: block;
}

.link-color {
  color: black;
}
.link-color:hover {
  color: rgba(64, 224, 208, 0.8);
}
.iconHovers:hover .iconHover {
  color: red;
}
.animationTop {
  max-width: 100px;
  max-height: 100px;
  position: relative;
  animation: myfirst 5s infinite alternate;
}

@keyframes myfirst {
  0% {
    top: 100%;
  }

  100% {
    bottom: 100%;
  }
}
