.categoryItems:hover {
  border-bottom: 2px solid turquoise;
  border-radius: 15px;
}
.textHover:hover {
  transform: scale(1.2);
}
.seachCardHover:hover {
  transform: scaleX(1.05);
}
.homeHover:hover {
  transform: scale(1.1);
}
.imageHover:hover {
  transform: scale(1.05);
  transition: all 2s;
}
.safety:hover {
  border-radius: 50%;
  border: 1px solid turquoise;
}
.borderAndRadius:hover {
  border: 1px solid turquoise;
  border-radius: 10px;
}
.animationTop {
  max-width: 100px;
  max-height: 100px;
  position: relative;
  animation: myfirst 5s infinite alternate;
}

@keyframes myfirst {
  0% {
    top: 100%;
  }

  100% {
    bottom: 100%;
  }
}
